img.rounded-circle {
    width: 40px;
    height: 40px;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999999;
    background-color: #D8F7FF;
}


/* .bg-dark {
    background-color: #6f6cff !important;
} */

.colorText {
    color: #34CEFF;
}

.colorText1 {
    color: #6F6CFF !important;
}

.navbar-toggler-icon {
    background-color: #6F6CFF;
}