<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NameAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" *ngIf="!isLogin" [routerLink]="['login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="!isLogin" [routerLink]="['register']">Registro</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" *ngIf="isLogin" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link">{{nameUser}}</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link">{{emailUser}}</a>
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <img src="{{photoUser}}" class="rounded-circle">
            </li>
            <li class="nav-item" *ngIf="isLogin">
                <a class="nav-link" href="#" [routerLink]="['login']" (click)="onClickLogout()">Salir</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
