<div class="mt-5 px-0">
    <h2 class="mt-5 text-center">Bienvenid@ {{nameUser}}</h2>
    <p class="text-center lead">¿Qué es lo que necesitas?</p>
    <!-- <div class="container-fluid mt-5">
        <div class="row ">
            <div class="col-12 mb-3">
                <button (click)="servicesUser()" class="btn btn-danger btn-lg btnStyle pt-5 pb-5 lead d-block mx-auto"><p class="text-center"> Necesito un servicio</p>  </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mx-auto mb-3">
                <button (click)="servicesClient()" class="btn btn-success btn-lg btnStyle pt-5 pb-5 lead d-block mx-auto"><p class="text-center">Ofrezco un servicio</p>  </button>
            </div>
        </div>
    </div> -->
</div>
<!-- 
<router-outlet></router-outlet> -->

<input type="text" placeholder="Ingresa una búsqueda" [(ngModel)]="query" />
<button (click)="map.places(query)">Buscar</button>

<here-map #map appId="4sJJEtQpgjS7fDTsa0zb" appCode="0TM03uIIHwzXg_IQD__Qpw" lat="-33.4726900" lng="-70.6472400" width="100vw" height="100vh"></here-map>